body{
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    margin-bottom: 100%;
}

/*style pour div qui contient le cadre*/
.outer{
    display: flex;
    justify-content: center;
}


/*style pour le cadre*/
.cadre{
    background-color: white;
    width: 910px;
    height: 487px;
    border-radius: 13px;
    margin-top: 2.4rem;
}

/*style pour insider pour diveser div en deux avec flex*/
.insider{
    display: flex;
}

/*style pour image*/
img{
    width: 453px;
    height: 487px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

/*width des deux partie image et login*/
.right_side, .left_side{
    width:50%;
}

.right_side{
    padding-left: 12px;
    height: 487px;
}

/*pour center insider de login*/
.inside_right{
    position:static;
    padding: 48px ;
    padding-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*style de titre e-service*/
.title_div{
    text-align: center;
    height: 29px;
    margin-bottom: 24px;
}

.title_style{
    font-size: 24px;
    color: #3A3B45;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/*espace entre les champs de formulaire de login*/
.utilisateur , .mdp, .button{
    margin-bottom: 20px;
}

/*style des input username et mdp*/
.login{ 
    width: 100%;
    height: 50px;
    border-radius: 160px;
    border: 1px solid #d1d3e2;
    padding: 16px 24px ;
    box-sizing: border-box;
    font-size: 12px;
    padding-left: 20px;
}



/* style pour button se rappeler de moi*/
.button input{
    width: 16px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid #d1d3e2;
    vertical-align: middle;
}

/* style pour label se rappeler de moi*/
label{
    font-size: small;
    vertical-align: middle;
    color:#858796 ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*style pour le button se connecte*/
.connecte{
    width: 100%;
    border-radius: 160px;
    border:  #d1d3e2;
    background-color: #4E73DF;
    color: white;
    text-align: center;
    padding: 12px 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr{
   border: 1px solid #E8E8E8;
   margin-top: 16px;
   margin-bottom: 16px;
}

/*style pour mdp oubliee et question*/
.forget , .questions {
    text-align: center;
}

a{
    text-decoration: none;
    color: #4E73DF;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*style pour copyright*/
.Copyright{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #858796;
}


@media screen and (max-width : 990px) {
    .cadre{
        width: 455px;
    }
    
    img{
        display: none;
    }
    
    .left_side{
        display: none;
    }

    .right_side{
        width: 100%;
    }
}
