body{
    margin: 0% 0%;
}

header{
    background-color: #003A6A;
    padding-left: 15px;
    padding-right: 15px;
}

.upper{
    display:flex;
    justify-content: space-between;
}

.univ{
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7em;
    letter-spacing: 10px;
}

.abd_malk{
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : 1.4em;
    letter-spacing: 1.1px;
}


.ecole{
    color: #8AB5D6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.6px;
}

.under_ecole{
    color: #8AB5D6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    letter-spacing: 2.3px;
}

.titles{
    line-height: 4px;
    margin-top: 0px;
}

.upper{
    display:flex;
    justify-content: space-between;
}

.logo_ensah{
    background-color: #FFFFFF;
    width: 120px;
    height: 100px;
    margin-top: 18px;
}


li{
    display: inline;
}


input{
    background-color: #004074;
    box-shadow: none;
    border: 1px;
    border-color: #00569D;
    border-style: solid;
 }


a{
    color: #8AB5D6;
    text-decoration: none;
}
