/*style pour container*/
.flex_container{
   display: flex;
   flex-direction: column;
}

/* style pour header*/
header{
    border: 1px solid;
    text-align: center;
    background-color: aliceblue;
}

/*style pour la section 0*/
.section0{
    border:1px solid ;
    text-align: center;
    margin-top: 20px;
}


/*style pour les sections 1-2-3-4*/
.horizontal1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.horizontal1 div{
    width: 23%;
    border:1px solid;
    text-align: center;
}


/*style pour les sections 5-6*/
.horizontal2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.horizontal2 div{
    width: 48.7%;
    border:1px solid ;
    text-align: center;
    background-color: blue;
}

/*style de footer*/
footer{
    border: 1px solid;
    text-align: center;
    margin-top: 20px ;
    background-color: lightpink;
}

@media screen and (max-width: 600px) {
   
    /*style pour container*/
.flex_container{
    display: flex;
    flex-direction: column;
 }
 
 /* style pour header*/
 header{
     border: 1px solid;
     text-align: center;
     background-color: aliceblue;
 }
 
 /*style pour la section 0*/
 .section0{
     border:1px solid ;
     text-align: center;
     margin-top: 20px;
     background-color: peachpuff;
 }
 
 
 /*style pour les sections 1-2-3-4*/
 .horizontal1{
     display: flex;
     flex-direction: column;
     margin-top: 10px;
     width: 100%;
 }
 
 .horizontal1 div{
    width: 100%;
     border:1px solid;
     text-align: center;
     margin-top: 10px;
     background-color: aquamarine;
 }
 
 
 /*style pour les sections 5-6*/
 .horizontal2{
     display: flex;
     flex-direction: column;
     margin-top: 10px;
 }
 
 .horizontal2 div{
     width: 100%;
     border:1px solid ;
     text-align: center;
     margin-top: 10px;
     background-color: blue;
 }
 
 /*style de footer*/
 footer{
     border: 1px solid;
     text-align: center;
     margin-top: 20px ;
     background-color: lightpink;
 }
}
